.odd {
    background-color:#f5bad2;
    font-family:'Verdana', 'DejaVu Sans', sans-serif;
}

#two {
    color:#1a4bed;
    font-size:36px;
}

.odd.font {
    font-size:24px;
}

#four {
    font-size:24px;
    font-weight:bold;
    background-color:#86f797;
}